{{- $fullName := include "backendService.fullname" . -}}
{{- $labelsCronJob := include "backendService.mutableLabels" . -}}
{{- $globalValues := .Values -}}
{{- range $key, $value := .Values.extraCronJobs }}
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ $key }}
  labels:
    {{- $labelsCronJob | nindent 4 }}
    app.kubernetes.io/component: cron-job-extra-{{ $key }}
spec:
  {{- if $value.schedule }}
  schedule: {{ $value.schedule | quote }}
  {{- else }}
  {{- fail (printf "extraCronJob '%s' 'schedule' is not defined" $key) }}
  {{- end }}
  suspend: {{ $value.suspend | default false }}
  timeZone: {{ $value.timeZone | default "Europe/Zurich" | quote }}
  concurrencyPolicy: {{ $value.concurrencyPolicy | default "Forbid" | quote }}
  successfulJobsHistoryLimit: {{ $value.successfulJobsHistoryLimit | default 3 }}
  failedJobsHistoryLimit: {{ $value.failedJobsHistoryLimit | default 3 }}
  startingDeadlineSeconds: {{ $value.startingDeadlineSeconds | default 10 }}
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            {{- if $.Values.podLabels }}
              {{- with $.Values.podLabels }}
                {{- toYaml . | nindent 12 }}
              {{- end }}
            {{- end }}
            {{- $labelsCronJob | nindent 12 }}
            app.kubernetes.io/component: cron-job-extra-{{ $key }}
          annotations:
            {{- if $.Values.podAnnotations }}
              {{- with $.Values.podAnnotations }}
                {{- toYaml . | nindent 12 }}
              {{- end }}
            {{- end }}
            {{- if $globalValues.envSecrets }}
            checksum/secrets: {{ include (print $.Template.BasePath "/secrets.yaml") $ | sha256sum | trunc 8 | quote }}
            {{- end }}
        spec:
          {{- with $globalValues.imagePullSecrets }}
          imagePullSecrets:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          restartPolicy: {{ $value.restartPolicy | default "Never" | quote }}
          containers:
            - name: {{ $key }}
              image: "{{ $globalValues.image.repository }}:{{ $globalValues.image.tag | default $.Chart.AppVersion }}"
              imagePullPolicy: {{ $globalValues.image.pullPolicy }}
              securityContext: {{- toYaml $globalValues.securityContext | nindent 16 }}
              resources:
                {{- toYaml ($value.resources | default $globalValues.resources) | nindent 16 }}
              volumeMounts:
              {{- with $globalValues.volumeMounts }}
                {{- toYaml . | nindent 16 }}
              {{- end }}
              {{- if $globalValues.auditVolume.enabled }}
                - name: audit
                  mountPath: {{ default "/audit" $globalValues.auditVolume.mountPath }}
              {{- end }}
              {{- if $globalValues.secretProvider }}
              {{- range $k, $v := $globalValues.secretProvider.vaults }}
                - name: {{ $fullName }}-{{ $k }}
                  mountPath: "/mnt/{{ $fullName }}-{{ $k }}"
                  readOnly: true
              {{- end }}
              {{- end }}
              envFrom:
                {{- if $globalValues.envSecrets }}
                - secretRef:
                    name: {{ $fullName }}-secrets
                {{- end }}
                {{- if $globalValues.extraEnvSecrets }}
                {{- range $v := $globalValues.extraEnvSecrets }}
                - secretRef:
                    name: {{ $v }}
                {{- end }}
                {{- end }}
                {{- if $globalValues.extraEnvCM }}
                {{- range $v := $globalValues.extraEnvCM }}
                - configMapRef:
                    name: {{ $v }}
                {{- end }}
                {{- end }}
              env:
                - name: VERSION
                  value: {{ ($globalValues.image.tag | default $.Chart.AppVersion) | quote}}
                {{- with $globalValues.envVars }}
                  {{- toYaml . | nindent 16 }}
                {{- end }}
                {{- range $key, $value := $globalValues.env }}
                - name: {{ $key }}
                  value: {{ $value | quote }}
                {{- end }}
                {{- /* local envVars will take precedence over global envVars as they are specified last */}}
                {{- with .envVars }}
                  {{- toYaml . | nindent 16 }}
                {{- end }}
                {{- with .envVars }}
                  {{- toYaml . | nindent 16 }}
                {{- end }}
                {{- range $key, $value := .env }}
                - name: {{ $key }}
                  value: {{ $value | quote }}
                {{- end }}
                {{- if $globalValues.secretProvider }}
                {{- range $k, $v := $globalValues.secretProvider.vaults }}
                {{- range $key, $value := $v }}
                - name: {{ $key }}
                  valueFrom:
                    secretKeyRef:
                      name: {{ $fullName }}-{{ $k }}
                      key: {{ $value }}
                {{- end }}
                {{- end }}
                {{- end }}
          {{- with $globalValues.nodeSelector }}
          nodeSelector:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with $globalValues.tolerations }}
          tolerations:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with $globalValues.affinity }}
          affinity:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumes:
          {{- with $globalValues.volumes }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if $globalValues.auditVolume.enabled }}
            - name: audit
              persistentVolumeClaim:
                claimName: {{ $fullName }}-audit
          {{- end }}
          {{- if $globalValues.secretProvider }}
          {{- range $k, $v := $globalValues.secretProvider.vaults }}
            - name: {{ $fullName }}-{{ $k }}
              csi:
                driver: secrets-store.csi.k8s.io
                readOnly: true
                volumeAttributes:
                  secretProviderClass: {{ $fullName }}-{{ $k }}
          {{- end }}
          {{- end }}
{{- end }}
