{{- if and (.Capabilities.APIVersions.Has "gateway.networking.k8s.io/v1") (or .Values.routes.paths.default.enabled .Values.routes.paths.versioned.enabled .Values.routes.paths.scoped.enabled .Values.routes.paths.probe.enabled) }}

{{/* Default route, protected with Unique Kong JWT Auth */}}
{{- if .Values.routes.paths.default.enabled -}}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ template "backendService.fullname" $ }}-default
  annotations:
    konghq.com/plugins: unique-jwt-auth,unique-route-metrics
    konghq.com/strip-path: "true"
    {{- if .Values.routes.paths.default.extraAnnotations }}
    {{- toYaml .Values.routes.paths.default.extraAnnotations | nindent 4 }}
    {{- end }}
  labels:
    {{- include "backendService.labels" $ | nindent 4 }}
spec:
  parentRefs:
    - name: {{ default "kong" .Values.routes.gateway.name }}
      namespace: {{ default "system" .Values.routes.gateway.namespace }}
      group: gateway.networking.k8s.io
      kind: Gateway
  hostnames:
    - {{ tpl (.Values.routes.hostname) $ }}
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: {{ include "backendService.routePrefix" $ }}
      backendRefs:
        - name: {{ include "backendService.fullname" $ }}
          port: {{ include "backendService.servicePort" $ }}
          kind: Service
{{- end }}

{{/* Block list routes */}}
{{/* Currently, the 'request-termination' plugin does not yet work well with 'extensionRefs' so we fall back to two routes for now */}}
{{- if and .Values.routes.paths.default.enabled .Values.routes.paths.default.blockList }}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ template "backendService.fullname" $ }}-block
  annotations:
    konghq.com/plugins: unique-block-route,unique-route-metrics
  labels:
    {{- include "backendService.labels" $ | nindent 4 }}
spec:
  parentRefs:
    - name: {{ default "kong" $.Values.routes.gateway.name }}
      namespace: {{ default "system" $.Values.routes.gateway.namespace }}
      group: gateway.networking.k8s.io
      kind: Gateway
  hostnames:
    - {{ tpl ($.Values.routes.hostname) $ }}
  rules:
  {{- range .Values.routes.paths.default.blockList }}
    - matches:
        - path:
            type: PathPrefix
            value: {{ if eq (include "backendService.routePrefix" $) "/" -}}{{ . }}{{- else -}}{{ include "backendService.routePrefix" $ }}{{ . }}{{- end }}
      backendRefs:
        - name: {{ include "backendService.fullname" $ }}
          port: {{ include "backendService.servicePort" $ }}
          kind: Service
  {{- end }}
{{- end }}

{{/* 'public', now called 'versioned', route, protected with Unique App Repo Auth */}}
{{- if .Values.routes.paths.versioned.enabled -}}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ template "backendService.fullname" $ }}-versioned
  annotations:
    konghq.com/plugins: unique-app-repo-auth,unique-route-metrics
    {{- if .Values.routes.paths.versioned.extraAnnotations }}
    {{- toYaml .Values.routes.paths.versioned.extraAnnotations | nindent 4 }}
    {{- end }}
  labels:
    {{- include "backendService.labels" $ | nindent 4 }}
spec:
  parentRefs:
    - name: {{ default "kong" .Values.routes.gateway.name }}
      namespace: {{ default "system" .Values.routes.gateway.namespace }}
      group: gateway.networking.k8s.io
      kind: Gateway
  hostnames:
    - {{ tpl (.Values.routes.hostname) $ }}
  rules:
    - backendRefs:
        - name: {{ include "backendService.fullname" $ }}
          port: {{ include "backendService.servicePort" $ }}
          kind: Service
      filters:
        - type: URLRewrite
          urlRewrite:
            path:
              type: ReplacePrefixMatch
              replacePrefixMatch: {{ default "/public" .Values.routes.paths.versioned.pathOverride }}
      matches:
        - path:
            type: PathPrefix
            value: {{ default "/public" .Values.routes.paths.versioned.pathOverride }}{{ include "backendService.routePrefix" $ }}
{{- end }}

{{/* scoped route */}}
{{- if .Values.routes.paths.scoped.enabled -}}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ template "backendService.fullname" $ }}-scoped
  annotations:
    konghq.com/strip-path: "true"
    konghq.com/plugins: unique-route-metrics
    {{- if .Values.routes.paths.scoped.extraAnnotations }}
    {{- toYaml .Values.routes.paths.scoped.extraAnnotations | nindent 4 }}
    {{- end }}
  labels:
    {{- include "backendService.labels" $ | nindent 4 }}
spec:
  parentRefs:
    - name: {{ default "kong" .Values.routes.gateway.name }}
      namespace: {{ default "system" .Values.routes.gateway.namespace }}
      group: gateway.networking.k8s.io
      kind: Gateway
  hostnames:
    - {{ tpl (.Values.routes.hostname) $ }}
  rules:
    {{- range .Values.routes.paths.scoped.allowList }}
    - matches:
        - path:
            type: Exact
            value: {{ default "/scoped" $.Values.routes.paths.scoped.pathOverride }}{{ include "backendService.routePrefix" $ }}{{ . }}
      filters:
        - type: URLRewrite
          urlRewrite:
            path:
              type: ReplaceFullPath
              replaceFullPath: {{ default "/scoped" $.Values.routes.paths.scoped.pathOverride }}{{ . }}
      backendRefs:
        - name: {{ include "backendService.fullname" $ }}
          port: {{ include "backendService.servicePort" $ }}
          kind: Service
    {{- end }}
{{- end }}

{{/* probe route */}}
{{- if .Values.routes.paths.probe.enabled -}}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ template "backendService.fullname" $ }}-probe
  annotations:
    konghq.com/strip-path: "true"
    konghq.com/plugins: unique-route-metrics
    {{- if .Values.routes.paths.probe.extraAnnotations }}
    {{- toYaml .Values.routes.paths.probe.extraAnnotations | nindent 4 }}
    {{- end }}
  labels:
    {{- include "backendService.labels" $ | nindent 4 }}
spec:
  parentRefs:
    - name: {{ default "kong" .Values.routes.gateway.name }}
      namespace: {{ default "system" .Values.routes.gateway.namespace }}
      group: gateway.networking.k8s.io
      kind: Gateway
  hostnames:
    - {{ tpl (.Values.routes.hostname) $ }}
  rules:
    - matches:
        - path:
            type: Exact
            value: {{ include "backendService.routePrefix" $ }}{{ default "/probe" .Values.routes.paths.probe.probePath }}
            # TODO: Add https://docs.konghq.com/hub/kong-inc/response-transformer/ to omit the response body
      filters:
        - type: URLRewrite
          urlRewrite:
            path:
              type: ReplaceFullPath
              replaceFullPath: {{ default "/probe" .Values.routes.paths.probe.probePath }}
      backendRefs:
        - name: {{ include "backendService.fullname" $ }}
          port: {{ include "backendService.servicePort" $ }}
          kind: Service
{{- end }}

{{- else if or .Values.routes.paths.default.enabled .Values.routes.paths.versioned.enabled .Values.routes.paths.scoped.enabled .Values.routes.paths.probe.enabled }}
{{- fail "You can't use routes without gateway.networking.k8s.io CRDs installed. Install CRDs first."}}
{{- end }}
