apiVersion: v2
type: application
icon: https://www.unique.ch/hubfs/unique_assets/favicon/glyph_caumasee.svg
maintainers:
  - name: unique-ag
    url: https://unique.ch/
name: backend-service
sources:
  - https://github.com/Unique-AG/helm-charts/tree/main/charts/backend-service
# changes to consider on next major: enable netpol by default, deprecate cronJob, remove external-secrets
version: 6.1.0
appVersion: latest
description: |
  The 'backend-service' chart is a "convenience" chart from Unique AG that can generically be used to deploy backend workloads to Kubernetes.

  Note that this chart assumes that you have a valid contract with Unique AG and thus access to the required Docker images.
annotations:
  artifacthub.io/license: Apache-2.0
  artifacthub.io/changes: |
    - kind: added
      description: "Resources for the migration hook can now be configured, defaulting to the global resources configuration"
